body{
    margin: 0vw;
  }
  
.lefttable{
    background-color: skyblue;
    height:100vh;
    padding-top: 25vh;
    position: fixed;
    width: 20vw;
  }
 
   .button{
    background-color: white;
    color: black;
    width:13vw;
    font-size: 1vw;
    position: relative;
    margin: 10vh 0vw 0vh 3.5vw;
    padding: 2vh 0vw 2vh 0vw;
    text-align:center;
    transition-duration: 0.5;
    border-radius: 1vh;
    border-width: 0.3vh;
    font-weight: bold;
  }
  
  .button:hover{
    background-color: yellow;
    color:black;
  }
  
  .grid-container {
    display: grid;
    position: fixed;
    grid-template-columns: auto auto auto auto;
    background-color: black;
    padding: 0.3vw;
    left: 24vw;
    right: 3vw;
    top:4vh;
  }
  
  .grid-item {
    background-color: linen;
    border: 0.1vw solid black;
    box-sizing: border-box;
    padding: 0.7vw;
    font-size: 2vw;
    text-align: center;
  }
  
  #delete{
    border-radius: 10%;
    padding-left: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-right: 0.5vw;
    font-weight: bold;

  }

  #delete:hover{
    background-color: yellow;
  }
  .newemployee{
    position: fixed;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin:50vh 10vw 30vh 55vw;
    color: black;
    background-color: white;
    border-radius: 10%;
    font-weight: bold;
  }
  .newemployee:hover{
    background-color: yellow;
    color:black;
  }
  .form {
    font-weight: bold;
    position: fixed;
    background-color:  linen;
    padding-left: 22vw;
    line-height: 10vh;
    width: 50vw;
    margin: 60vh 3vw 10vh 24vw;
    border:0.2vw solid black;
  }

  #id{
    padding-left: 1vw;
    margin-left: 2vw;
    border-color: black;
  }

  #name{
    padding-left: 1vw;
    margin-left: 1.2vw;
    border-color: black;
  }

  #area{
    padding-left: 1vw;
    margin-left: 1.4vw;
    border-color: black;
  }

  input{
    border-radius: 0.5vh;
    border-width: 0.3vh;
  }
  
  .addbutton{
    margin-left: 22vw;
    margin-bottom: 1vh;
    padding-left: 2.2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 2vw;
    border-radius: 1vh;
    border-width: 0.3vh;
    font-weight: bold;
    border-color: black;
  }
  
  .addbutton:hover{
    background-color: yellow;
  }
