<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.kpr.training.jdbc.test_cases.AddressServiceTestCase</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addressUpdateTest3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addressDeleteTest1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addressUpdateTest2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addressUpdationTest1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addressCreationTest1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addressReadTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addressCreationTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addressUpdationTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addressReadAllTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addressDeleteTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addressReadTest1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
