<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="628fdf">  <td>20/10/29 20:17:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressCreationTest()[pri:1, instance:com.kpr.training.jdbc.test_cases.AddressServiceTestCase@6ddf90b0]">addressCreationTest</td> 
  <td>main@22429093</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/10/29 20:17:28</td>   <td>1407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressCreationTest1()[pri:2, instance:com.kpr.training.jdbc.test_cases.AddressServiceTestCase@6ddf90b0]">addressCreationTest1</td> 
  <td>main@22429093</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/10/29 20:17:28</td>   <td>1438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressReadTest()[pri:3, instance:com.kpr.training.jdbc.test_cases.AddressServiceTestCase@6ddf90b0]">addressReadTest</td> 
  <td>main@22429093</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/10/29 20:17:28</td>   <td>1511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressReadTest1()[pri:4, instance:com.kpr.training.jdbc.test_cases.AddressServiceTestCase@6ddf90b0]">addressReadTest1</td> 
  <td>main@22429093</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/10/29 20:17:28</td>   <td>1556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressReadAllTest()[pri:5, instance:com.kpr.training.jdbc.test_cases.AddressServiceTestCase@6ddf90b0]">addressReadAllTest</td> 
  <td>main@22429093</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/10/29 20:17:28</td>   <td>1610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressUpdationTest()[pri:6, instance:com.kpr.training.jdbc.test_cases.AddressServiceTestCase@6ddf90b0]">addressUpdationTest</td> 
  <td>main@22429093</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/10/29 20:17:28</td>   <td>1690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressUpdationTest1()[pri:7, instance:com.kpr.training.jdbc.test_cases.AddressServiceTestCase@6ddf90b0]">addressUpdationTest1</td> 
  <td>main@22429093</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/10/29 20:17:28</td>   <td>1727</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressUpdateTest2()[pri:8, instance:com.kpr.training.jdbc.test_cases.AddressServiceTestCase@6ddf90b0]">addressUpdateTest2</td> 
  <td>main@22429093</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/10/29 20:17:29</td>   <td>1901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressUpdateTest3()[pri:9, instance:com.kpr.training.jdbc.test_cases.AddressServiceTestCase@6ddf90b0]">addressUpdateTest3</td> 
  <td>main@22429093</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/10/29 20:17:29</td>   <td>2000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressDeleteTest()[pri:10, instance:com.kpr.training.jdbc.test_cases.AddressServiceTestCase@6ddf90b0]">addressDeleteTest</td> 
  <td>main@22429093</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/10/29 20:17:29</td>   <td>2118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressServiceTestCase.addressDeleteTest1()[pri:11, instance:com.kpr.training.jdbc.test_cases.AddressServiceTestCase@6ddf90b0]">addressDeleteTest1</td> 
  <td>main@22429093</td>   <td></td> </tr>
</table>
